DLTE-Spring/technical/Technical-Console/src/main/resources/employee.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://employee.services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://employee.services" targetNamespace="http://employee.services">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://employee.services">

    <!-- Employee Details -->
    <xsd:complexType name="EmployeeDetails">
        <xsd:sequence>
            <xsd:element name="employeeID" type="xsd:int"/>
            <xsd:element name="employeeFirstName" type="xsd:string"/>
            <xsd:element name="employeeMiddleName" type="xsd:string"/>
            <xsd:element name="employeeLastName" type="xsd:string"/>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="phoneNumber" type="xsd:long"/>
            <xsd:element name="employeePermanentAddress" type="tns:EmployeeAddress"/>
            <xsd:element name="employeeTemporaryAddress" type="tns:EmployeeAddress"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Employee Address -->
    <xsd:complexType name="EmployeeAddress">
        <xsd:sequence>
            <xsd:element name="houseName" type="xsd:string"/>
            <xsd:element name="streetName" type="xsd:string"/>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="state" type="xsd:string"/>
            <xsd:element name="pincode" type="xsd:int"/>
            <xsd:element name="type" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Employee HTTP Response -->
    <xsd:complexType name="EmployeeHttpResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="details" type="tns:EmployeeDetails"/>
            <xsd:element name="status" type="xsd:int"/>
            <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Employee HTTP Response -->
    <xsd:complexType name="serviceStatus">
        <xsd:sequence>
            <xsd:element name="status" type="xsd:int"/>
            <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Insert Employee Request -->
    <xsd:element name="callInsertEmployeeDetailsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="employeeDetails" type="tns:EmployeeDetails"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Insert Employee Response -->
    <xsd:element name="callInsertEmployeeDetailsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="serviceStatus" type="tns:serviceStatus"/>
                <xsd:element name="result" type="tns:EmployeeHttpResponse"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <!-- Output Employee Response -->
    <xsd:element name="callOutputEmployeeRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="callOutputEmployeeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="serviceStatus" type="tns:serviceStatus"/>
                <xsd:element maxOccurs="unbounded" name="employeeProfile" type="tns:EmployeeDetails"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Filter Employee Request -->
    <xsd:element name="callFilterEmployeeRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="pincode" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Filter Employee Response -->
    <xsd:element name="callFilterEmployeeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="employeeDetails" type="tns:EmployeeDetails"/>
                <xsd:element name="serviceStatus" type="tns:serviceStatus"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


</xsd:schema>
  </wsdl:types>
  <wsdl:message name="callOutputEmployeeResponse">
    <wsdl:part element="tns:callOutputEmployeeResponse" name="callOutputEmployeeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="callFilterEmployeeResponse">
    <wsdl:part element="tns:callFilterEmployeeResponse" name="callFilterEmployeeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="callInsertEmployeeDetailsResponse">
    <wsdl:part element="tns:callInsertEmployeeDetailsResponse" name="callInsertEmployeeDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="callOutputEmployeeRequest">
    <wsdl:part element="tns:callOutputEmployeeRequest" name="callOutputEmployeeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="callFilterEmployeeRequest">
    <wsdl:part element="tns:callFilterEmployeeRequest" name="callFilterEmployeeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="callInsertEmployeeDetailsRequest">
    <wsdl:part element="tns:callInsertEmployeeDetailsRequest" name="callInsertEmployeeDetailsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeePort">
    <wsdl:operation name="callOutputEmployee">
      <wsdl:input message="tns:callOutputEmployeeRequest" name="callOutputEmployeeRequest">
    </wsdl:input>
      <wsdl:output message="tns:callOutputEmployeeResponse" name="callOutputEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="callFilterEmployee">
      <wsdl:input message="tns:callFilterEmployeeRequest" name="callFilterEmployeeRequest">
    </wsdl:input>
      <wsdl:output message="tns:callFilterEmployeeResponse" name="callFilterEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="callInsertEmployeeDetails">
      <wsdl:input message="tns:callInsertEmployeeDetailsRequest" name="callInsertEmployeeDetailsRequest">
    </wsdl:input>
      <wsdl:output message="tns:callInsertEmployeeDetailsResponse" name="callInsertEmployeeDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeePortSoap11" type="tns:EmployeePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="callOutputEmployee">
      <soap:operation soapAction=""/>
      <wsdl:input name="callOutputEmployeeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="callOutputEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="callFilterEmployee">
      <soap:operation soapAction=""/>
      <wsdl:input name="callFilterEmployeeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="callFilterEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="callInsertEmployeeDetails">
      <soap:operation soapAction=""/>
      <wsdl:input name="callInsertEmployeeDetailsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="callInsertEmployeeDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeePortService">
    <wsdl:port binding="tns:EmployeePortSoap11" name="EmployeePortSoap11">
      <soap:address location="http://localhost:8082/employeerepo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>